@import url('./reset.css');

* {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cyan-600: #4D96A9;
  --cyan-300: #8FE3F9;
  --purple-600: #855FB1;
  --purple-300: #D9B8FF;
  --slate-900: #28283D;
  --slate-600: #87879D;
  --slate-300: #D1D1DF;
  --white: #FAFAFA;
  font-family: 'Red Hat Display';
}

body {
  background: var(--white)
}
